<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= blocks.title %></title>
    <link type="text/css" href="/vendors/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" href="/vendors/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link type="text/css" href="/app.css">
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<h1><%= blocks.title %></h1>
<footer>
    <% include ../partials/header %>
</footer>
<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/app.js"></script>
</body>
</html>