<div class="login-form-wrapper">
  <h2>Login Page</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Login</label>
      <input [(ngModel)]="model.username"
             #username="ngModel" name="username"
             type="text" class="form-control"
             id="username"
             placeholder="Enter login">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="model.password"
             #password="ngModel" name="password"
             type="password" class="form-control"
             id="password"
             placeholder="Password">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
