<header>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" routerLink="/">Simple App</a>
    <div *ngIf="!showLogout()"
         class="pull-right">
      <div class="pull-right">
        <button routerLink="/register" class="btn btn-primary">Sign up</button>
      </div>
      <div class="pull-right login">
        <button routerLink="/login" class="btn btn-info">Sign in</button>
      </div>
    </div>
    <div *ngIf="showLogout()"
         class="pull-right">
      <div class="pull-right">
        <button (click)="logout()" class="btn btn-info">Log out</button>
      </div>
    </div>
  </nav>
</header>
